/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto&display=swap');

/* Colours */

:root {
    --bgcolor1: rgba(32, 38, 57, 1);
    --bgcolor2: rgba(63, 76, 119, 1);
    --button: #738bda;
    --white: #faf9f6;
    --black: #212121;
}


/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    animation: gradient-animation 5s ease infinite;
    background: rgb(32, 38, 57);
    background: linear-gradient(180deg, rgba(32, 38, 57, 1) 0%, rgba(63, 76, 119, 1) 100%);

}

h1,
h2,
h3,
h4 {
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    color: var(--white);
}

p {
    font-size: 18px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#skills,
#projects {
    flex-direction: column;
}

#contact {
    height: 80vh;
    flex-direction: column;
}

#skills h3,
#projects h3,
#contact h3 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    position: relative;
}

/* Modal */

#modal {
    display: none;
}

.menu-icon {
    display: none;
    color: var(--white);
    font-size: 30px;
}


/* Navbar */

nav {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    top: 70px;
}

nav a {
    margin: 0 65px;
    transition: background-color 0.3s;
    letter-spacing: 1px;
    font-family: 'DM Sans', sans-serif;
}


/* Home section */

.headings {
    text-align: center;
    color: var(--white);
}

.headings h1 {
    font-size: 100px;
    margin-bottom: 60px;
    letter-spacing: 1px;
}

.headings h2 {
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.headings h3 {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
}


/* About section*/

.about-info {
    display: flex;
    background-color: var(--white);
    margin: 0 100px;
    border-radius: 25px;
}

.about-info img {
    width: 35%;
    border-radius: 25px 0 0 25px;
}

.about-description {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-description p {
    color: var(--black);
    padding-bottom: 20px;
}

button {
    border: none;
    border-radius: 25px;
    color: var(--white);
    background-color: var(--bgcolor1);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0 0 0;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    background-size: 200% auto;
    transition: 0.5s;
    background-image: linear-gradient(to right, var(--bgcolor1) 0%, var(--button) 51%, var(--bgcolor2) 100%);
}

button:hover {
    background-position: right center;
}

.resume {
    font-weight: 400;
}


/* Skills section*/

#skills h4 {
    color: var(--white);
    font-size: 18px;
    letter-spacing: 1px;
}

.skills-list {
    display: grid;
    grid-template-areas: "html css javascript"
        "node react git";
    text-align: center;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.javascript {
    grid-area: javascript;
}

.node {
    grid-area: node;
}

.react {
    grid-area: react;
}

.git {
    grid-area: git;
}

.icon {
    font-size: 120px;
    color: var(--white);
    padding: 50px 50px 20px 50px;
}


/* Projects section*/

#projects {
    height: 100%;
}

.projects-list {
    display: flex;
    flex-direction: column;
}

.project {
    width: 80vw;
    height: 300px;
    background-color: var(--white);
    margin: 30px 0;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.project-image {
    display: flex;
    align-items: end;
    justify-content: center;
}

.project img {
    width: auto;
    height: 230px;
    border-radius: 25px 25px 0 0;
    -webkit-box-shadow: 5px -5px 13px -1px rgba(181, 181, 181, 0.70);
    -moz-box-shadow: 5px -5px 13px -1px rgba(181, 181, 181, 0.70);
    box-shadow: 5px -5px 13px -1px rgba(181, 181, 181, 0.70);

}

.project-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-info h4 {
    color: var(--black);
    padding-bottom: 20px;
}

.project-info p {
    color: var(--black);
    grid-area: paInfo;
    margin-right: 50px;
}

.project-links {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 20px;
}

.project-links a {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
}


/* Project-a */

.project-a {
    grid-template-areas: "paImage paInfo";
}

.project-a-image {
    grid-area: paImage;
}


/* Project-b */

.project-b {
    grid-template-areas: "pbInfo pbImage";
}

.project-b-info h4 {
    margin-left: 50px;
}

.project-b-info p {
    grid-area: pbInfo;
    margin-left: 50px;
}

.project-b-image {
    grid-area: pbImage;
}

.project-b-links {
    margin-left: 50px;
}


/* Contact section */

.links {
    padding: 100px 0;
}

.links a {
    text-decoration: none;
    color: var(--white);
    margin: 0 40px;
    font-size: 40px;
}

.email::before {
    content: "E-mail";
}

.email:hover::before {
    content: "c.borrega@proton.me";
}

.linkedin::before {
    content: "LinkedIn";
}

.linkedin:hover::before {
    content: "carlosborrega";
}

.github::before {
    content: "GitHub";
}

.github:hover::before {
    content: "borregaio";
}


/* Footer section */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
}

footer h4 {
    color: var(--white);
    letter-spacing: 1px;
}

.arrow {
    color: var(--white);
    font-size: 30px;
    padding: 30px 0;
}


/* Mobile styles */

@media only screen and (max-width: 600px) {

    body {
        padding: 20px;
    }


    /* Navbar*/

    nav {
        top: 30px;
    }

    span {
        display: none;
    }

    .hide {
        display: none;
    }

    .menu-icon {
        display: block;
        position: absolute;
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: var(--bgcolor1);
        opacity: 0.9;
    }

    .modal-content {
        margin: 15% auto;
        padding: 20px;
        width: 80%;
        display: grid;
        height: 90%;
        text-align: center;
        align-items: center;
    }

    .modal-content a {
        font-size: 30px;
    }


    /* Home section */

    .headings {
        text-align: left;
        padding: 0 80px;
    }

    .headings h1 {
        font-size: 80px;
    }

    .headings h2 {
        font-size: 29px;
    }

    .headings h3 {
        font-size: 16px;
    }


    /* About section */

    #about {
        height: fit-content;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    .about-info img {
        width: 100%;
        border-radius: 25px 25px 0 0;
    }

    .about-description {
        padding: 30px;
    }


    /* Skills section */

    #skills h4 {
        font-size: 16px;
    }

    .skills-list {
        grid-template-areas: "html css"
            "javascript node"
            "react git";
    }

    .icon {
        font-size: 60px;
    }

    /* Projects section*/

    #projects {
        justify-content: start;
        height: 100%;
    }

    .project {
        height: auto;
        grid-template-columns: 100%;
        grid-template-areas: "paImage"
            "paInfo";
    }

    .project-image {
        display: block;
        position: relative;
        justify-content: start;
        grid-area: auto;
        justify-content: start;
    }

    .project img {
        width: 100%;
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

    }

    .project-info {
        display: block;
        padding: 30px;
    }

    .project-info p {
        margin: 0;
    }


    /* Project-b */

    .project-b-image {
        order: -1;
    }

    .project-b-links {
        margin: 20px 0 0 0;
    }

    .project-b-info h4 {
        margin-left: 0;
    }


    /* Contact section */

    .email:hover::before {
        content: "E-mail";
    }

    .email:hover {
        content: "E-mail";
    }

    .linkedin:hover::before {
        content: "LinkedIn";
    }

    .linkedin:hover {
        content: "LinkedIn";
    }

    .github:hover::before {
        content: "Github";
    }

    .github:hover {
        content: "Github";
    }

    .links {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .links a {
        padding: 20px 0;
    }

    .last-info {
        bottom: -40px;
    }

}

/* Tablet styles*/

@media only screen and (min-width: 601px) and (max-width: 1024px) {

    /* Navbar */

    nav a {
        margin: 25px;
    }


    /* Home section */

    .headings h1 {
        font-size: 70px;
    }

    .headings h2 {
        font-size: 30px;
    }

    .headings h3 {
        font-size: 20px;
    }

    /* About section */

    #about {
        height: fit-content;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        margin: 0 40px;
    }

    .about-info img {
        width: 100%;
        border-radius: 25px 25px 0 0;
    }

    .about-description {
        padding: 30px;
    }


    /* Skills section*/

    #skills h4 {
        font-size: 16px;
    }

    .skills-list {
        grid-template-areas: "html css"
            "javascript node"
            "react git";
    }

    .icon {
        font-size: 80px;
    }


    /* Projects section */

    #projects {
        justify-content: start;
        height: 100%;
    }

    .project {
        height: auto;
        grid-template-columns: 100%;
        grid-template-areas: "paImage"
            "paInfo";
    }

    .project-image {
        display: block;
        position: relative;
        justify-content: start;
        grid-area: auto;
        justify-content: start;
    }

    .project img {
        width: 100%;
        height: auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

    }

    .project-info {
        display: block;
        padding: 30px;
    }

    .project-info p {
        margin: 0;
    }


    /* Project-b */

    .project-b-image {
        order: -1;
    }

    .project-b-links {
        margin: 20px 0 0 0;
    }

    .project-b-info h4 {
        margin-left: 0;
    }


    /* Contact section*/

    .email:hover::before {
        content: "E-mail";
    }

    .email:hover {
        content: "E-mail";
    }

    .linkedin:hover::before {
        content: "LinkedIn";
    }

    .linkedin:hover {
        content: "LinkedIn";
    }

    .github:hover::before {
        content: "Github";
    }

    .github:hover {
        content: "Github";
    }

    .links {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .links a {
        padding: 20px 0;
    }

    .last-info {
        bottom: -40px;
    }
}

/* Small laptops and desktops */

@media only screen and (min-width: 1025px) and (max-width: 1335px) {

    /* About section */

    .about-description {
        padding: 20px;
    }

    .about-description p,
    .project-info p {
        font-size: 14px;
    }

    .project img {
        height: 190px;
    }

    /* .project-b-info h4 {
        margin-left: 0;
    } */

    button {
        margin-top: 0;
    }
}