/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono:wght@400;500;600;700&family=Rubik:wght@500;600;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto&display=swap');

:root {
    --bgdark: rgb(32, 38, 57);
    --bglight: rgb(63, 76, 119);
    --white: #eeebe3;
    --black: #212427;
    /* --accent: #3cb371; */
    /* --white: #ffffff;
    --color1: #ff0072;
    --color2: #0077ff;
    --color3: #212427;
    --color4: #6729ff;
    --black: #000000;
    --white: #ffffff; */
}


/* General styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(300deg, var(--color1), var(--color2));
    background-size: 120% 120%;
    animation: gradient-animation 5s ease infinite; */
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

h1,
h2,
h3,
h4 {
    font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
p {
    color: var(--white);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#skills,
#projects {
    flex-direction: column;
}

#contact {
    /* width: 100%; */
    height: 80vh;
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#skills h3,
#projects h3,
#contact h3 {
    font-size: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    position: relative;
}

/* a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--white);
    bottom: -10px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
} */


/* Scroller */

/* #scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#scroller section {
    scroll-snap-align: start;
} */

/* @keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */


/* Navbar */

nav {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    top: 70px;
}

nav a {
    /* it was 50px before */
    margin: 0 85px;
    transition: background-color 0.3s;
    letter-spacing: 1px;
    font-family: 'DM Sans', sans-serif;
}

.menu-icon {
    display: none;
    color: var(--white);
    font-size: 30px;
}

/* .hide {
    display: none;
} */


/* Home */

/* #home {
    display: flex;
    justify-content: center;
} */

/* #home img {
    width: 100%;
} */

.headings {
    text-align: center;
    color: var(--white);
}

.headings h1 {
    font-size: 100px;
    margin-bottom: 40px;
    letter-spacing: 5px;
}

.headings h2 {
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 3px;
}

.headings h3 {
    font-size: 20px;
    letter-spacing: 1px;
}


/* About */

/* #about {
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
} */

/* .about-info {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 90%;
    width: 90%;
} */

/* #about {
    padding: 70px;
    display: grid;
    grid-template-columns: 50% 50%;
} */

.about-info {
    display: flex;
    background-color: var(--white);
    margin: 0 40px;
    border-radius: 25px;
}

.about-info img {
    height: auto;
    border-radius: 25px 0 0 25px;
}

.about-description {
    padding: 50px;
}

.about-description p {
    color: var(--black);
    padding-bottom: 20px;
}


/* .about-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/profile.jpg);
    height: 100%;
    border-radius: 25px 0 0 25px; */
/* align-items: center; */
/* height: 100%; */
/* }

.about-description {
    background-color: var(--white);
    border-radius: 0 25px 25px 0;
    padding: 70px;
    height: 100%;
} */

/* .about-description p {
    text-align: left;
    color: var(--black);
    font-size: 14px;
    line-height: 1.5rem;
    margin-bottom: 20px;
} */

button {
    border: none;
    border-radius: 25px;
    color: var(--white);
    background-color: var(--bgdark);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--bglight);
}

/* Skills */

#skills h3 {
    font-size: 30px;
    padding: 20px;
    letter-spacing: 1px;
}

#skills h4 {
    color: var(--white);
    font-size: 18px;
    letter-spacing: 1px;
}

.skills-list {
    display: grid;
    grid-template-areas: "html css javascript"
        "node react git";
    text-align: center;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.javascript {
    grid-area: javascript;
}

.node {
    grid-area: node;
}

.react {
    grid-area: react;
}

.git {
    grid-area: git;
}

.icon {
    font-size: 120px;
    color: var(--white);
    padding: 50px 50px 20px 50px;
}


/* Projects */

#projects {
    height: 100%;
}

#projects h3 {
    font-size: 30px;
    padding: 20px;
    letter-spacing: 1px;
}

.project-a-info h4 {
    color: var(--black);
    padding-bottom: 20px;
}

.project-b-info h4 {
    color: var(--black);
    padding-bottom: 20px;
    margin-left: 50px;
}

.projects-list {
    display: flex;
    flex-direction: column;
}

.project-a {
    width: 80vw;
    height: 300px;
    background-color: var(--white);
    margin: 30px 0;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "paImage paInfo";
}

.project-b {
    width: 80vw;
    height: 300px;
    background-color: var(--white);
    margin: 30px 0;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "pbInfo pbImage";
}

.project-a-image {
    display: flex;
    align-items: end;
    grid-area: paImage;
    justify-content: center;
}

.project-b-image {
    display: flex;
    align-items: end;
    grid-area: pbImage;
    justify-content: center;
}

.project-a img {
    width: auto;
    height: 220px;
    border-radius: 25px 25px 0 0;
}

.project-b img {
    width: auto;
    height: 220px;
    border-radius: 25px 25px 0 0;
}

.project-a-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-b-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-a-info p {
    color: var(--black);
    grid-area: paInfo;
    margin-right: 50px;
}

.project-b-info p {
    color: var(--black);
    grid-area: pbInfo;
    margin-left: 50px;
}

.project-a-links {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 20px;
}

.project-a-links a {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
}

.project-b-links {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-top: 20px;
    margin-left: 50px;
}

.project-b-links a {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
}


/* Footer */



#contact h3 {
    font-size: 30px;
    padding: 20px;
    letter-spacing: 1px;
}


.links {
    padding: 100px 0;
}

.links a {
    text-decoration: none;
    color: var(--white);
    margin: 0 40px;
    font-size: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
}

footer h4 {
    color: var(--white);
    letter-spacing: 1px;
}

.arrow {
    color: var(--white);
    font-size: 30px;
    padding: 30px 0;
}

/* .email {
    position: relative;
    display: inline-block;
} */


.email::before {
    content: "E-mail";
}

.email:hover::before {
    content: "c.borrega@proton.me";
}

/* Tablets */
@media only screen and (max-width: 768px) {}


/* Mobile */

@media only screen and (max-width: 480px) {


    body {
        /* background: #0077ff; */
        padding: 20px;
    }

    /* #scroller section {
        scroll-snap-align:unset;
    } */

    nav {
        top: 30px;
    }

span {
    display: none;
}

    .hide {
        display: none;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        /* background-color: var(--bgdark); */
        /* Fallback color */
        background-color: var(--bgdark);
        opacity: 0.9;
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        /* background-color: #fefefe; */
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        /* border: 1px solid #888; */
        width: 80%;
        /* Could be more or less, depending on screen size */

        display: grid;
        height: 80vh;
        text-align: center;
        align-items: end;
    }

    .modal-content a {
        font-size: 30px;
    }

    /* The Close Button */
    /* .close {
        color: var(--white);
        float: right;
        font-size: 28px;
        font-weight: bold;
    } */

    /* .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    } */

    /* #home { */
    /* align-items: start; */
    /* display: grid; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* justify-content: unset; */
    /* height: fit-content;
        align-items: center; */
    /* height: 100vh; */
    /* } */

    /* .headings {
        display: flex;
        flex-direction: column;
        text-align: center;
    } */

    /* #home,
    .headings h1,
    .headings h2 {
        justify-content: center;
        display: inline;
    } */

    .headings h1 {
        font-size: 80px;
        line-height: 6rem;
    }

    .headings h2 {
        font-size: 30px;
    }

    .headings h3 {
        font-size: 16px;
        padding: 0 50px;
        line-height: 1.5rem;
    }


    /* nav {
        flex-direction: column;
        align-items: flex-end;
    }

    nav a {
        margin-bottom: 20px;
        text-align: right;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    } */

    .menu-icon {
        display: block;
        position: absolute;
        cursor: pointer;
    }

    /* .menu-items.show,
    .menu-items.hide {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    } */

    /* .menu-items.show a {
        opacity: 1;
    } */

    /* #about {
        height: 100%;
    } */

    /* #about {
        align-items: start;
    } */

    /* .about-info {
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        height: fit-content;
    } */

    /* #about {
        grid-template-columns: auto;
        grid-template-rows: 50% 50%;
        padding: 30px;
    } */

    /* #about {
        height: 100%;
    }

    .about-image {
        border-radius: 25px 25px 0 0;
        height: 600px;
    }

    .about-description {
        border-radius: 0 0 25px 25px;
        padding: 30px;
        height: fit-content;
    } */

    #about {
        height: fit-content;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    .about-info img {
        width: 100%;
        border-radius: 25px 25px 0 0;
    }

    .about-description {
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        padding: 30px;

    }


    /* #skills {
        grid-template-columns: auto;
        grid-template-rows: 20% 80%;
    }

    #skills li {
        text-align: center;
    } */

    /* #skills {
        justify-content: start;
    } */

    /* #skills {
        margin-top: 400px;
    } */


    #skills h4 {
        font-size: 16px;
    }

    .skills-list {
        grid-template-areas: "html css"
            "javascript node"
            "react git";
    }

    .icon {
        font-size: 60px;
    }

    #projects {
        justify-content: start;
        height: 100%;
    }

    .project-a {
        height: 500px;
        grid-template-columns: 100%;
        grid-template-areas: "paImage"
            "paInfo";
    }

    .project-a-image {
        display: block;
        position: relative;
        justify-content: start;
        grid-area: auto;
        justify-content: start;
    }

    .project-a img {
        width: 100%;
        height: auto;
    }

    .project-a-info {
        display: block;
        padding: 30px;
    }

    .project-a-info p {
        margin: 0;
    }




    .project-b {
        height: 500px;
        grid-template-columns: 100%;
        grid-template-areas: "pbImage"
            "pbInfo";
    }

    .project-b-image {
        display: block;
        position: relative;
        justify-content: start;
        grid-area: auto;
        justify-content: start;
        order: -1;
    }

    .project-b img {
        width: 100%;
        height: auto;
    }

    .project-b-info {
        display: block;
        padding: 30px;
    }

    .project-b-info p {
        margin: 0;
    }

    .project-b-links {
        margin: 20px 0 0 0;
    }







    .email:hover::before {
        content: "E-mail";
    }

    .email:hover {
        content: "E-mail";
    }



    .links {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .links a {
        padding: 20px 0;
    }

    .last-info {
        bottom: -40px;
    }

}